:root{
    --absolute-primary: #050211;

    --purple-90: #a28eff;
    --purple-95: #d0c6ff;


    --white-90: #F6F6FE;
    --white-95: #FAFBFF;
    --white-97: #F9F5FF;
}

html, body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--absolute-primary);
}

.btn{
    padding: 12px 36px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.btn__white{
    background-color: var(--white-97);
    transition: all 1s ease;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.btn__white::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.9),
      transparent
    );
    transition: all linear 0.5s;
}
.btn__white:hover {
    background-color: var(--purple-90);
    color: #fff;
}
.btn__white:hover::before {
    left: 100%;
}

.title{
    font-size: 36px;
    line-height: 28px;
    color: var(--white-95);
}

.introduce{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--white-95);
}

.btn-view{
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    line-height: 24px;
    font-family: 500;
    background-color: transparent;
    color: var(--white-95);
    border: 2px solid var(--white-90);
}   

