@media only screen and (max-width: 576px) {
    .navbar-brand{
        max-width: 300px;
        width: calc(100% - 75px);
        min-width: 224px;
    }

    .logo-img{
        max-width: 300px;
        width: calc(100% - 75px);
        min-width: 224px;
    }

    #logo--nav{
        height: 40px;
    }

    #logo--footer{
        max-height: 50px;
        height: calc(100% - 1px);
        min-height: 42px;
    }
}


@media only screen and (max-width: 480px) {
    .hero-job {
        font-size: 2.5rem;
        font-size: clamp(2.5rem, 1.5rem + 5vw, 3rem);
    }
    
    .hero-name {
        font-size: 1.875rem;
        font-size: clamp(1.875rem, 0.25rem + 8.125vw, 2.6875rem);
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    .btn-view{
        font-size: 10px;
    }
}